<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calcul Pro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>{{entryOne}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{sign}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{entryTwo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{result}}</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3" (click)="reset()">AC</ion-col>
      <ion-col size="3">--</ion-col>
      <ion-col size="3" (click)="clickSign('%')">%</ion-col>
      <ion-col size="3" (click)="clickSign('/')">/</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" (click)="clickNumber(7)">7</ion-col>
      <ion-col size="3" (click)="clickNumber(8)">8</ion-col>
      <ion-col size="3" (click)="clickNumber(9)">9</ion-col>
      <ion-col size="3" (click)="clickSign('*')">*</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" (click)="clickNumber(4)">4</ion-col>
      <ion-col size="3" (click)="clickNumber(5)">5</ion-col>
      <ion-col size="3" (click)="clickNumber(6)">6</ion-col>
      <ion-col size="3" (click)="clickSign('-')">-</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" (click)="clickNumber(1)">1</ion-col>
      <ion-col size="3" (click)="clickNumber(2)">2</ion-col>
      <ion-col size="3" (click)="clickNumber(3)">3</ion-col>
      <ion-col size="3" (click)="clickSign('+')">+</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" (click)="clickNumber(0)">0</ion-col>
      <ion-col size="3">.</ion-col>
      <ion-col size="3" (click)="apply()">=</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>