<ion-content [fullscreen]="true">
  <div class="main-page">


    <ion-card *ngFor="let taskInfo of currentTaskList">
      <div class="task" [style]="'border-left-color:'+getTaskStatusColor(taskInfo.status)+';'">
        <div class="vha" style="border-bottom: 1px solid black;">
          <h3>{{taskInfo.name}}</h3>
          <span>
            <ion-icon name="ellipsis-horizontal-outline" size="large"></ion-icon>
          </span>
        </div>
        <div class="vha" style="margin-top: 5px;">
          <span>
            {{displayDayOfMonthName(taskInfo.startDate)}}-{{displayDayOfMonthName(taskInfo.endDate)}}
          </span>
          <span>
            {{displayDateHour(taskInfo.startHour)}}-{{displayDateHour(taskInfo.endHour)}}
          </span>
          <div [style]="'color:'+getTaskPriorityColor(taskInfo.priority)+';'">
            <span>{{displayTaskPriority(taskInfo.priority)}}</span>
            <span>
              <ion-icon name="pricetag"></ion-icon>
            </span>
          </div>
        </div>

      </div>
    </ion-card>

  </div>
  <ion-fab id="open-modal" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-modal" [initialBreakpoint]="0.35" [breakpoints]="[0, 0.35, 0.5, 0.80]"
    handleBehavior="cycle">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top" style="border-top-left-radius: 30px; border-top-right-radius: 30px;">
          <h1 style="text-align: center; font-weight: bold;">
            Ajouter une Tâche
          </h1>
          <form [formGroup]="addTaskForm" (ngSubmit)="saveTask()">

            <div class="field">
              <ion-input placeholder="Nom" required formControlName="name" type="text"></ion-input>
            </div>
            <div class="field">
              <ion-textarea placeholder="Description" rows="5" formControlName="description"></ion-textarea>
            </div>
            <div>
              <ion-button>
                Aujourd'hui
              </ion-button>
              <ion-button>
                Demain
              </ion-button>
              <ion-button>
                Ce Week-end
              </ion-button>
              <ion-button id="choosedate" >
                <ion-icon name="calendar-outline"></ion-icon>
              </ion-button>
            </div>
            <div class="vha">
              <div>
                <ion-button id="choosetime">
                  <ion-icon slot="start" name="stopwatch-outline"></ion-icon>
                  Heures
                </ion-button>
              </div>
              <div class="vha" style="justify-content: center;">
                <ion-select aria-label="Priorité" interface="popover" placeholder="Priorité">
                  <ion-select-option *ngFor="let monthIndex of [1,2,3,4]" [value]="monthIndex">
                    {{monthIndex}}
                  </ion-select-option>
                </ion-select>
                <ion-icon name="pricetag"></ion-icon>
              </div>
            </div>
            <ion-button expand="block" style="background-color:#0B5C46;" type="submit" [disabled]="addTaskForm.invalid">
              Ajouter
            </ion-button>
          </form>

        </div>
      </ion-content>
      <ion-popover trigger="choosedate" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-datetime presentation="date" [showDefaultButtons]="true" multiple="true" ></ion-datetime>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-popover trigger="choosetime" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-datetime presentation="time" [showDefaultButtons]="true" ></ion-datetime>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ng-template>
  </ion-modal>
</ion-content>